.header-image {
    background-image: url("assets/servers.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #999;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
/*    height: 5em;*/
}

.navbar-burger {
    border: 0;
}

.brand {
    height: 3em !important;
}

#supportButton {
    width: 100%;
}